rcg/login/__pycache__/admin.cpython-310.pyc
rcg/login/__pycache__/admin.cpython-310.pyc
rcg/login/__pycache__/models.cpython-310.pyc
rcg/login/__pycache__/urls.cpython-310.pyc
rcg/login/__pycache__/views.cpython-310.pyc
rcg/login/migrations/__pycache__/0001_initial.cpython-310.pyc
rcg/login/migrations/__pycache__/0003_remove_new_user_stuemail.cpython-310.pyc
rcg/login/migrations/__pycache__/0002_alter_new_user_stuemail.cpython-310.pyc
rcg/login/migrations/__pycache__/0004_alter_new_user_sturesidance.cpython-310.pyc
